/* high resolution desktops */
@media (min-width: 1281px) {
}
/* laptops, desktops */
@media (max-width: 1280px) {
  /* home */
  .home div.home-text h1 {
    font-size: 3rem;
  }
  .home div.home-text p {
    font-size: 1.5rem;
  }
  .home .social-media .icon {
    margin: 30px 33px;
  }
}
/* tablets, ipads (protrait) */
@media (max-width: 1024px) {
  .brand-container .brand-name {
    font-size: 28px;
  }
  nav ul {
    position: fixed;
    top: 86px;
    left: -100%;

    width: 100%;
    height: 80vh;

    background-color: var(--main-color);
    border-top: 3px solid var(--text-color);
    z-index: 1;
    opacity: 90%;

    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  nav ul li {
    margin: 30px;
  }
  nav .menu-btn {
    display: block;
    cursor: pointer;
  }
  #click:checked ~ ul {
    left: 0;
  }
  /* home */

  .home div.home-img img {
    width: 250px;
    height: 380px;
    margin-top: 120px;
  }
  .home div.home-text h1 {
    font-size: 3rem;
    /* margin-bottom: 20px; */
  }
  .home div.home-text p {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .home .social-media .icon {
    font-size: 1.7rem;
    margin: 20px 24px 0px;
  }
  /* about */
  .about {
    /* margin-top: 70px 0px; */

    padding: 100px 20px;
  }
  .about .about-text {
    margin-bottom: 50px;
    padding: 0;
    width: 400px;
  }
  .about .section-title,
  .services .section-title,
  .whyme .section-title,
  .contact .section-title {
    font-size: 3rem;
  }

  .about .about-img img {
    width: 330px;
    height: 330px;
    margin-left: 30px;
    margin-top: 100px;
  }
  /* services */
  .services .service-card {
    width: 400px;
    margin: 30px 20px;
  }

  .services .service-card p {
    font-size: 16px;
  }
  /* contact */

  .contact .contact-img img {
    width: 400px;
    height: 400px;
  }
  .contact .contact-icon {
    width: 400px;
  }
  .contact .contact-icon a {
    font-size: 30px;
    margin: 20px;
  }
}

/* low reso tablets, mobiles */
@media (max-width: 768px) {
  /* nav */
  nav.nav-container {
    padding: 30px 25px;
  }

  /* home */
  .home {
    height: auto;
  }
  .home div.home-text {
    position: absolute;
    top: 250px;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 10px;
  }

  .home div.home-text h1 {
    font-size: 54px;
  }
  .home div.home-text p {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .home .social-media .icon {
    font-size: 28px;

    margin: 30px 28px 0px;
  }
  .home div.home-img {
    margin-top: 450px;
    margin-bottom: 50px;
  }
  .home div.home-img img {
    width: 350px;
    height: 500px;
    margin-right: 0px;
  }
  .services .service-card {
    height: auto;
  }

  /* about */

  .about .about-img img {
    margin-left: 0;
  }

  /* footer */
  footer .footer-group h1 {
    font-size: 2.2rem;
  }
  footer .footer-group .nav-links .nav-link {
    font-size: 1.2rem;
  }
  footer .footer-group .social-media a {
    font-size: 1.4rem;
    margin: 1em;
  }
  footer p {
    font-size: 1rem;
  }
}

/* most smartphones mobiles */
@media (max-width: 480px) {
  /* nav */
  nav.nav-container {
    padding: 30px 20px 30px 10px;
  }
  /* home */

  .home div.home-text h1 {
    font-size: 38px;
    /* letter-spacing: 2px;
    font-weight: 550; */
  }
  .home div.home-text p {
    font-size: 23px;
  }
  .home .social-media .icon {
    font-size: 24px;

    margin: 10px 20px;
  }
  .home div.home-img {
    margin-top: 420px;
  }
  .home div.home-img img {
    width: 300px;
    height: 450px;
  }
  /* about */

  .about .about-text {
    margin: 0px;
    width: 330px;
  }
  .about .section-title,
  .contact .section-title,
  .whyme .section-title,
  .services .section-title {
    font-size: 38px;
  }
  .about .about-text p {
    font-size: 20px;
  }
  .about .about-img img {
    width: 300px;
    height: 320px;
    margin-top: 180px;
  }
  /* contact */
  .contact .contact-img img {
    width: 280px;
    height: 360px;
    margin-bottom: 20px;
  }
  .contact .contact-icon p {
    font-size: 30px;
  }
  .contact .contact-icon span {
    font-size: 28px;
    font-family: "Fira Sans";
  }
  .contact .contact-icon a {
    font-size: 28px;
    margin: 20px;
  }
  /* footer */
  footer .footer-group h1 {
    font-size: 1.5rem;
  }
  footer .footer-group .nav-links .nav-link {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.7rem;
  }
}
@media (max-width: 360px) {
  .home div.home-text h1 {
    font-size: 30px;
  }
  .home div.home-text p {
    font-size: 16px;
  }

  .home div.home-img img {
    width: 230px;
    height: 350px;
  }
  .home .social-media .icon {
    font-size: 18px;

    margin: 30px 16px;
  }
  /* about */
  .about .about-text {
    width: 300px;
  }

  .about .about-text p {
    margin-top: 100px;
    font-size: 16px;
    padding: 20px;
  }
  .about .about-img img {
    width: 250px;
    height: 250px;
    margin-top: 200px;
  }
  .contact .contact-icon a {
    font-size: 24px;
    margin: 20px;
  }
  /* footer */
  footer .footer-group h1 {
    font-size: 1.2rem;
  }
  footer .footer-group .nav-links .nav-link {
    font-size: 0.8rem;
  }
  footer .footer-group .social-media a {
    font-size: 1.2rem;
    margin: 1em;
  }
  footer p {
    font-size: 0.7rem;
  }
}
